.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  color: $font-color-dark;
  text-align: center;
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;

  @media (min-width: $mq-min-width) {
    font-size: 36px;
  }
}
