@use "sass:color";

$font-family-sans-serif: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
  "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$primary-color: #3993aeff;

$bg-color-dark: #333;
$font-color-light: #fff;

$bg-color-light: #fff;
$font-color-dark: #333;

$mq-min-width: 420px;
